# Esempio di configurazione ambiente
# Produzione: https://www.liceoscientificocortese.edu.it/app/orario/api/v0
# Locale: http://localhost:8088/app/orario/api/v0
VITE_API_URL=https://www.liceoscientificocortese.edu.it/app/orario/api/v0
VITE_GOOGLE_CLIENT_ID=
